body {
  background-color: black;
  color: rgb(0, 0, 0);
  
}


#fondotitle{
background-color: rgb(253, 158, 34);
}
/* capa del fondo animado */
#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgb(0, 0, 0);
}

/* pelotas */
.ball {
  position: absolute;
  width: 60px;
  pointer-events: none;
}


h1{
    background-color:  rgb(253, 158, 34);
    font-size: 80pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.img-uniforme{
    
    border-radius: 8px;
    
}
div{
    background-color:  rgb(253, 158, 34);
}
p{
    font-size: 24px;
}
section{
    background-color: rgb(255, 208, 0);
}
.marty-container {
  width: 90%;
  margin: 0 auto;
}
.box-soft {
  transition: transform .3s ease, box-shadow .3s ease;
   border-radius: 24px;
}

.box-soft:hover {
  transform: translateY(-10px);
 
 
}
.imagen-dream{
  height: 12px;
  width: 100%;
}

